body{
    margin: 0%;
    background-color: black;
}



.img{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    text-align: center;

}
.tex{ 

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.tex h1{
    color: white; 
    border: 10px solid rgba(0, 0, 0, 0.452);
    font-weight: bold;
}

.tex h1:hover{
    color: rgb(133, 133, 133);
    border: 10px solid rgba(255, 255, 255, 0.452);
}

.navbar{
    background-color: rgb(0, 0, 0);
}
.offcanvas.offcanvas-end{
    background-color: rgb(0, 0, 0);
}


.wwd{
    width: 100%;
    height: 500px;
    background-color: black;
    text-align: center;
}

.l{
    height: 100%;
    float: left;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.t{
    font-size: 2cm;
    font-weight: 700;
}

.r{
    height: 100%;
    float: left;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.ct{
    background-color: white;
    height: 100%;
    width: 100%;
    text-align: center;
}

@media screen and (max-width : 700px){
    .l{
        display: none;
    }
    .contest h4{
        font-size: 100%;
    }
    .contest{
        padding-top: 30%;
    }
}

.l img:hover{
    padding: 20px;
}
.active, .accordion:hover {
    background-color: rgba(255, 255, 255, 0.322);
}


.contest{
    width: 100%;
    height: 50%;
    background-size: cover;
    position: relative;
    background-color: black;
}



.ftr{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    text-align: center;
    float: right;
}

.ln{
    text-decoration: none;
    color: brown;
    margin: 4px;
    font-size: 20px;
    font-weight: 400;
}

.ln:hover{
    color: aqua;
}

.contest-text{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.contest-sub{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

@media screen and (max-width : 768px){
    .contest-text{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    
    .contest-sub{
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: small;
    }
}
@media screen and (max-width : 758px){
    .contest-text{
        position: absolute;
        top: 72%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    
    .contest-sub{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: small;
    }

}
@media screen and (max-width : 719px){
    .contest-text{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    
    .contest-sub{
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: small;
    }
}
@media screen and (max-width : 425px){
    .contest-text h1{
        font-size: large;
    }

    .contest-text{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    
    .contest-sub{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: small;
    }
}

.wr_red{
    height: 250px;
    border-radius: 1cm;
    background-color: red; 
    text-align: center; 
    color: white;
}

.hello{
    width: 140px;
    font-weight: bold;
    margin-top: 20px;
}

.wr_red:hover{
    background-color: rgba(255, 0, 0, 0.562);
    border-radius: 0.2cm;
    -webkit-box-shadow: 0px 0px 24px 2px red;
    -moz-box-shadow: 0px 0px 24px 2px red;
    box-shadow: 0px 0px 24px 2px red;
}

.focus{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 50px;
}

.fcs{
    display: inline-block;
    width: auto;
    height: 350px;
    background-color: rgb(255, 255, 255);
    margin: auto;
}

.mast-box{
    width: 100%;
    height: auto;
}

.boxes{
    height: 300px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(161, 161, 161, 0.39);
}


.mhead{
    text-align: center;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.74);
}

.mhead:hover{
    color: black;
}

.thead{
    text-align: center;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.377);
}

.works{
    height: 420px;
    background-color: rgba(58, 58, 58, 0.658);
    border: 4px solid rgb(0, 0, 0);
}

.texbox{
    height: auto;
    background-color: rgba(0, 0, 0, 0.664);
    align-items: center;
}
.ptext{
    background-color: rgba(0, 0, 0, 0.664);
    width: 60%;
    height: 100%;
    margin: auto;
}

.contat-box{

    height: 200px;
    background-color: rgb(117, 117, 117);
    border: 1px solid rgba(0, 0, 0, 0.26)
}